@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  src: url('fonts/Muli-Bold.ttf') format('opentype');
}
@font-face {
  font-family: Muli;
  font-style: italic;
  font-weight: bold;
  src: url('fonts/Muli-BoldItalic.ttf') format('opentype');
}
@font-face {
  font-family: Muli;
  font-style: italic;
  font-weight: normal;
  src: url('fonts/Muli-Italic.ttf') format('opentype');
}
@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: lighter;
  src: url('fonts/Muli-Light.ttf') format('opentype');
}
@font-face {
  font-family: Muli;
  font-style: italic;
  font-weight: lighter;
  src: url('fonts/Muli-LightItalic.ttf') format('opentype');
}
@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Muli-Regular.ttf') format('opentype');
}
