@custom-media --phone (max-width: 47.999rem);
@custom-media --tablet (min-width: 48rem);
@custom-media --tablet- (max-width: 62.999rem);
@custom-media --tablet-only (min-width: 48rem) and (max-width: 62.999rem);
@custom-media --desktop (min-width: 63rem);
@custom-media --desktop- (max-width: 83.999rem);
@custom-media --desktop-only (min-width: 63rem) and (max-width: 83.999rem);
@custom-media --desktop-large (min-width: 84rem);

@custom-media --height-laptop (max-height: 37.5rem);
@custom-media --mouse (pointer: fine);
@custom-media --landscape (orientation: landscape);
@custom-media --portrait (orientation: portrait);
/* ------------------------------------------------ FONTS --------------------------------------------------------- */
/**
 * @tokens Font Family
 * @presenter FontFamily
 */
:root {
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-heading: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
/**
 * @tokens Font Sizes
 * @presenter FontSize
 */
:root {
  --font-size-base-phone: 16px;
  --font-size-base-tablet: 16px;
  --font-size-base-desktop: 16px;
  --font-size-base-desktop-large: 16px;

  --font-size-x-huge: 3rem; /* 48px */
  --font-size-huge: 2.25rem; /* 36px */
  --font-size-x-large: 1.5rem; /* 24px */
  --font-size-large: 1.125rem; /* 18px */
  --font-size-medium: 1rem; /* 16px */
  --font-size-small: 0.875rem; /* 14px */
  --font-size-tiny: 0.75rem; /* 12px */
}
/* ------------------------------------------------- GAPS ---------------------------------------------------------- */

:root {
  --gap-tiny: 0.375rem;
  --gap-small: 0.75rem;
  --gap: 1.5rem;
  --gap-large: 3rem;
  --gap-huge: 4.5rem;
}
/* ------------------------------------------------- COLOR ---------------------------------------------------------- */
/**
 * @tokens Colors
 * @presenter Color
 */
:root {
  --color-text: #50586d; /* text default color */
  --color-text-secondary: #73798a; /* secondary content. e.g. description */

  --color-brand: #3b93cd; /* primary buttons, throbber */
  --color-brand-hover: #4aa6e2;
  --color-brand-fade: #d8e9f5; /* hover of menu items & secondary buttons */

  --color-heading: var(--color-text); /* h1,h2,h3 headings */

  --color-error: #dd1831; /* errors: field border, text  */
  --color-error-light: #e20209; /* errors: alert */
  --color-error-darken: #bf0209; /* errors: alert */

  --color-disabled: #60667b;

  --color-page-background: #fff;
}
/*

------------------------------------------------- FOCUS ----------------------------------------------------------

*/
:root {
  --color-focus-border: #658de6; /* border of focused fields and buttons, background of focused menu item */
  --color-focus-outline: rgba(70, 162, 226, 0.5); /* outer higlight of focused elemets */

  --focus-ring-width: 2px;

  --focusable-box-shadow: 0 0 0 calc(3 * var(--focus-ring-width)) transparent;
  --focused-box-shadow: 0 0 0 var(--focus-ring-width) var(--color-focus-outline);
}
/* ------------------------------------ INPUTS -------------------------------------- */
/**
 * @tokens Form Colors
 * @presenter Color
 */
:root {
  --field-label-color: #969ba7; /* field label */
  --field-label-disabled-color: #969ba7; /* field label (disabled) */
  --field-border-color: #caccd3; /* field border */
  --field-hover-border-color: var(--color-brand); /* field border (hover) */
  --field-focus-border-color: var(--color-brand);
  --field-disabled-border-color: #e0e0e0;
  --field-read-only-border-color: #e0e0e0;

  --field-background-color: #fff; /* field control background */
  --field-hover-background-color: #fff; /* field control background (hover) */
  --field-focus-background-color: #fff; /* field control background (focus) */
  --field-disabled-background-color: var(--color-page-background);
  --field-read-only-background-color: var(--color-page-background);

  --field-text-color: var(--color-text); /* field control value */
  --field-hover-text-color: var(--color-text); /* field control value (hover) */
  --field-focus-text-color: var(--color-text); /* field control value (focus) */
  --field-disabled-color: var(--color-disabled);
  --field-read-only-color: var(--field-text-color);

  --field-invalid-border-color: var(--color-error);

  --field-addon-color: var(--color-disabled);
  --field-addon-focus-color: var(--field-focus-border-color);
  --field-addon-disabled-color: var(--color-disabled);

  --field-disabled-option-color: var(--color-disabled);

  --checkbox-border-color: var(--color-brand);
}
/* SIZING */
:root {
  --field-border-width: 1px;
  --field-border: var(--field-border-width) solid var(--field-border-color);
  --field-border-radius: 0.25rem;

  --field-label-font-size: var(--font-size-small);
  --field-label-line-height: normal;
  /* font-style */
  --field-label-font: var(--field-label-font-size) / var(--field-label-line-height)
    var(--font-family);

  --field-placeholder-color: #60667b;

  --field-height: 2.75rem;
  --field-line-height: 1.5rem;
  --field-padding-vertical: calc(var(--field-height) / 2 - var(--field-line-height) / 2);
  --field-padding-horizontal: 0.5rem;
  --field-padding: var(--field-padding-horizontal) var(--field-padding-vertical);

  --field-gap: 1rem;

  --checkbox-tick-size: 1em;

  --field-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out, box-shadow 0.15s ease-in-out;
}
/*

------------------------------------ BUTTONS --------------------------------------

*/
:root {
  /* PRIMARY */
  --button-primary-background-color: var(--color-brand);
  --button-primary-border-color: transparent;
  --button-primary-color: #fff;
  --button-primary-hover-background-color: var(--color-brand-hover);
  /* SECONDARY */
  --button-secondary-background-color: #f6f6f7;
  --button-secondary-border-color: #caccd3;
  --button-secondary-color: var(--color-text);
  --button-secondary-hover-background-color: var(--color-brand-fade);
  /* ERROR / DANGER */
  --button-alert-color: var(--color-error-darken);
  --button-alert-hover-color: var(--color-error);
}

html {
  font-size: var(--font-size-base-desktop);
  height: 100%;
  width: 100vw;
  @media (--tablet-) {
    font-size: var(--font-size-base-tablet);
  }
  @media (--phone) {
    font-size: var(--font-size-base-phone);
  }
  @media (--desktop-large) {
    font-size: var(--font-size-base-desktop-large);
  }
}

body {
  color: var(--color-text);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100vw;
}

button,
select,
input,
textarea {
  font: inherit;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  font-family: var(--font-family-heading);
  font-weight: normal;
  span {
    display: block;
    font-family: var(--font-family);
    font-size: var(--font-size-medium);
    line-height: 1.5;
  }
}

h1 {
  font-size: var(--font-size-x-large);
  line-height: 1.2;
  margin: 0;
  & + p {
    margin-top: 1rem;
    @media (--desktop-large) {
      margin-top: 2rem;
    }
  }
}
h2 {
  font-size: var(--font-size-x-large);
  line-height: 1.2;
  margin: 0 0 0.75rem;
}
h3 {
  font-size: var(--font-size-large);
  line-height: 1.2;
  margin: 0 0 0.75rem;
  &.dark {
    color: #333;
  }
}
h4 {
  font-size: var(--font-size-medium);
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 0.75rem;
}
p {
  font-size: var(--font-size-medium);
  line-height: 1.5;
  margin: 0;
  &.secondary {
    color: var(--color-text-secondary);
    font-size: var(--font-size-small);
  }
  &.tiny {
    color: var(--color-text-secondary);
    font-size: var(--font-size-tiny);
  }
  &:not(:last-child) {
    margin-bottom: var(--gap);
  }
}

ul:not([class]) {
  font-size: var(--font-size-medium);
  list-style: none;
  padding: 0 0 0 1em;
  li {
    line-height: 1.5;
    margin-bottom: 1em;
    position: relative;
  }
}

hr {
  appearance: none;
  background-color: var(--field-border-color);
  border: 0;
  display: block;
  height: 1px;
  margin: 0 0 1.75rem;
  width: 100%;
}

iframe {
  border: 0;
}
