.listbox {
  align-items: stretch;
  background: none #fff;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  & > .option {
    align-items: stretch;
    color: var(--color-dropdown);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    padding: 0;
    position: relative;
    transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
  }
  & > .option[aria-selected='true'] {
    background-color: var(--background-color-dropdown-selected);
    color: var(--color-dropdown-selected);
  }

  & > .option:focus,
  & > .option:active {
    background-color: var(--background-color-dropdown-active);
    color: var(--color-dropdown-active);
    outline: none;
  }
  & > .option + .option {
    border-top: 1px solid var(--border-color-dropdown);
  }
  & > .option > input {
    height: 0;
    position: absolute;
    top: -1px;
    visibility: hidden;
    width: 0;
  }
  & > .option > span {
    display: block;
    flex-grow: 1;
    font-weight: normal;
    margin: 0;
    padding: 0.75rem 1.25rem;
    text-transform: none;
    user-select: none;
  }
}
