.placeholder {
  align-items: flex-start;
  background-color: #f9fafb;
  box-sizing: border-box;
  color: #60667b;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}
