.load-more-container {
  align-items: center;
  display: flex;
  justify-content: center;
  & > * {
    animation-duration: 100ms;
    animation-fill-mode: backwards;
    animation-name: disappearing;
  }
}

@keyframes disappearing {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
