.dropdown-toggle {
  display: flex;
  flex-direction: column;
  position: relative;
  & > .dropdown-content {
    display: none;
  }
  &.open > .dropdown-content {
    display: block;
    position: relative;
    z-index: 2;
  }
  & .dropdown-button {
    align-items: center;
    background: transparent;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    white-space: nowrap;
    width: 100%;
    & > span {
      flex-grow: 1;
      flex-shrink: 1;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
    }
    & > .dropdown-icon {
      display: block;
      fill: currentColor;
      flex-grow: 0;
      flex-shrink: 0;
      height: 15px;
      transition: transform 0.5s ease;
      width: 15px;
    }

    &:focus {
      /* outline: none; */
    }
  }

  & .placeholder {
    color: #adc7ff;
  }

  & .dropdown-value {
    color: #fff;
  }

  &.open .dropdown-icon {
    transform: rotate(180deg);
  }
}
