.button {
  align-items: center;
  background-color: #fff;
  border-color: transparent;
  border-radius: var(--field-border-radius);
  border-width: 1px;
  box-shadow: var(--focusable-box-shadow);
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  font-size: var(--font-size-medium);
  justify-content: center;
  line-height: 1.25rem;
  min-height: 3rem;
  min-width: 1rem;
  overflow: hidden;
  padding: 0.75rem 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 0.3s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  > svg {
    display: block;
    fill: currentColor;
    flex-grow: 0;
    flex-shrink: 0;
    height: 1em;
    width: 1em;
    &.left {
      margin: 0 0.5rem 0 0;
    }
    &.right {
      margin: 0 0 0 0.5rem;
    }
  }

  @media (--mouse) {
    &:not(:disabled):hover {
      text-decoration: none;
    }
  }

  &:not(:disabled):focus {
    border-color: var(--color-focus-border);
    box-shadow: var(--focused-box-shadow);
    outline: none;
  }

  &.wide {
    width: 100%;
  }

  &.small {
    font-size: var(--font-size-small);
    padding: 0.5em;
  }

  &.primary {
    background-color: var(--button-primary-background-color);
    border-color: var(--button-primary-border-color);
    color: var(--button-primary-color);
    font-weight: bold;
    @media (--mouse) {
      &:not(:disabled):hover {
        background-color: var(--button-primary-hover-background-color);
      }
    }
  }

  &.secondary {
    background-color: var(--button-secondary-background-color);
    border-color: var(--button-secondary-border-color);
    border-style: solid;
    border-width: 1px;
    color: var(--button-secondary-color);
    font-weight: bold;
    @media (--mouse) {
      &:not(:disabled):hover {
        background-color: var(--button-secondary-hover-background-color);
      }
    }
  }

  &.flat {
    background-color: transparent;
    border-width: 0;
    color: var(--color-brand);
    @media (--mouse) {
      &:hover {
        /* TODO: */
      }
    }
  }

  &.alert {
    color: var(--button-alert-color);
    @media (--mouse) {
      &:not(:disabled):hover {
        color: var(--button-alert-hover-color);
      }
    }
  }

  &.option-like {
    align-items: center;
    border-color: transparent;
    color: var(--color-brand);
    display: flex;
    flex-direction: row;
    font-weight: bold;
    height: 5rem;
    justify-content: flex-start;
    position: relative;
    top: calc(var(--gap-small) * (-1));
    width: 100%;

    @media (--mouse) {
      cursor: pointer;
      &:hover {
        background-color: var(--color-page-background);
      }
    }

    > svg {
      background-color: #fff;
      border-radius: 50%;
      height: 3.25rem;
      width: 3.25rem;
    }
  }

  &.primary:focus,
  &.secondary:focus,
  &:focus {
    border-color: var(--color-focus-border);
    outline: none;
  }
  &.primary:disabled,
  &.secondary:disabled,
  &:disabled {
    cursor: default;
    opacity: 0.25;
  }

  & > svg {
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    height: 1rem;
    margin: 0 0.5rem;
    width: 1rem;

    path {
      fill: currentColor;
    }
  }

  &.inline {
    background-color: transparent;
    color: inherit;
    display: inline-flex;
    font-size: inherit;
    line-height: inherit;
    min-height: 0;
    overflow: visible;
    padding: 0;
    vertical-align: inherit;

    &:not([disabled]) {
      color: var(--color-brand);
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &::-moz-focus-inner {
    border: 0;
  }
}
