.icon-button {
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent none;
  border: 2px solid transparent;
  border-radius: 50%;
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: 2rem;
  justify-content: center;
  padding: 0;
  transition: all 0.3s ease;
  width: 2rem;

  &:active {
    svg {
      transform: scale(0.95);
    }
  }
  &:focus {
    outline: none;
    & > svg {
      color: var(--color-focus-border);
    }
  }

  @media (--mouse) {
    &:hover {
      background-color: #3333;
    }
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
  & > svg {
    fill: currentColor;
    height: 1rem;
    transition: transform 0.2s ease;
    width: 1rem;
  }
}
