.table {
  --index: 0;
  border-collapse: collapse;
  font-size: var(--font-size-small);
  /* table-layout: fixed; */
  width: 100%;

  &.pending {
    opacity: 0.25;
    pointer-events: none;
  }

  thead {
    color: #787878;
    font-weight: 900;
    text-transform: uppercase;
    tr {
      border: none;
    }
    .button.inline {
      border: none;
      box-shadow: none;
      text-decoration: inherit;
      text-transform: inherit;
    }
  }
  tbody {
    font-size: var(--font-size-small);
  }
  tr {
    animation: bounceIn 0.2s ease-in-out;
    animation-delay: calc(0.075s * var(--index));
    animation-fill-mode: backwards;
    border-bottom: 1px solid var(--color-table-border);
    transition: transform ease 0.3s;
    @media (--phone) {
      align-items: stretch;
      display: flex;
      flex-direction: column;
    }
    td,
    th {
      line-height: 1rem;
      padding: var(--gap-tiny) var(--gap);

      vertical-align: middle;
    }
    th {
      font-size: var(--font-size-tiny);
      font-weight: 300;
      text-align: left;
      vertical-align: bottom;
    }
  }
  th,
  td {
    height: 2.25rem;
    order: 0;
    &.currency {
      text-align: right;
    }
    &.center {
      text-align: center;
    }
    &.toggle {
      padding: 0 0 0 0.5rem;
      text-align: left;
      @media (--phone) {
        order: 1;
      }
      @media (--tablet) {
        max-width: 1.5rem;
      }
      svg {
        color: var(--color-brand);
        display: block;
        height: 1.5rem;
        width: 1.5rem;
      }
    }
    &.text {
      text-align: left;
    }
    &.date {
      text-align: center;
      white-space: nowrap;
      @media (--tablet) {
        max-width: 7rem;
      }
    }
    &.number {
      text-align: right;
      @media (--tablet) {
        max-width: 7rem;
      }
    }
    &.checkbox {
      @media (--tablet) {
        max-width: 5rem;
      }
      text-align: center;
    }
    &.action {
      text-align: center;
      svg {
        color: var(--color-brand);
        height: 1.125rem;
        width: 1.125rem;
      }
      .icon-button {
        margin: 0 auto;
      }
    }
    &.remove-icon {
      padding: 0;
      text-align: center;
      width: min-content;
      & > button {
        margin: auto;
      }
    }
    &.actions {
      text-align: center;
      a,
      button {
        display: inline-flex;
      }
      svg {
        color: var(--color-brand);
        display: inline-flex;
        height: 1.125rem;
        width: 1.125rem;
      }
    }
  }

  td.checkbox {
    .field.checkbox {
      align-items: center;
      display: flex;
      /* height: 1.125rem; */
      justify-content: center;
      margin: 0 auto;
      padding: 0;
      width: 100%;
      & > .checkbox-tick {
        display: flex;
        left: auto;
        top: auto;
      }
    }
  }
  &.section {
    @media (--tablet) {
      border-collapse: separate;
      border-spacing: 0 var(--gap);
      width: 100%;
      tbody {
        tr {
          border: var(--section-border);
          border-radius: var(--section-border-radius);
          box-shadow: var(--section-box-shadow);
          td {
            background-color: #fff;
            padding: var(--gap);
            &:first-of-type {
              border-radius: var(--section-border-radius) 0 0 var(--section-border-radius);
            }
            &:last-of-type {
              border-radius: 0 var(--section-border-radius) var(--section-border-radius) 0;
            }
          }
        }
      }
    }
  }
  @media (--phone) {
    border-collapse: separate;
    max-width: 100%;
    thead {
      display: none;
    }
    tbody {
      display: grid;
      tr {
        border-bottom: 4px solid #d8d8d8;
      }
      td {
        align-items: center;
        align-self: stretch;
        display: flex;
        flex-direction: row;
        height: 3rem;
        justify-content: flex-start;
        overflow: hidden;
        padding: 0 1rem 0 0;
        text-align: left;
        text-overflow: ellipsis;
        &:empty {
          display: none;
        }
        &:before {
          align-items: center;
          align-self: stretch;
          background-color: #fff;
          color: #787878;
          content: attr(data-col);
          display: flex;
          font-size: var(--font-size-tiny);
          font-weight: bold;
          margin-right: 1rem;
          min-width: 30%;
          text-align: left;
          text-transform: uppercase;
          white-space: normal;
          width: 30%;
        }
      }
    }
  }

  &.expandable {
    td.toggle {
      @media (--phone) {
        background-color: #fff;
        width: 100%;
        &:before {
          display: none;
        }
      }
    }
    tr.expandable-row {
      margin-top: -4px;
      padding: 0;
      & > td {
        overflow: hidden;
        padding: 0;
        position: relative;
        white-space: normal;
        @media (--phone) {
          height: auto;
          &:before {
            display: none;
          }
        }
      }

      &:not(.open) {
        display: none;
      }
    }
  }
}

@keyframes bounceIn {
  from {
    opacity: 0;
    transform: scale(0.975);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes bounceOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: scale(0.75);
  }
}
