.list-pagination {
  display: flex;
  margin-left: auto;
  margin-right: auto;

  & > .pagination-item {
    &.page,
    &.collapse {
      @media (--phone) {
        display: none;
      }
    }

    &.current {
      background-color: var(--button-primary-background-color);
      border-color: var(--button-primary-border-color);
      color: var(--button-primary-color);
      opacity: 1;
    }

    & + .pagination-item {
      margin-left: var(--gap-small);
    }
  }
}
