.label.field.date {
  & > input {
    &:not(.cleave) {
      background-size: 1.125rem 1.25rem;
    }
    /* max-width: 11rem; */
    &::-webkit-inner-spin-button {
      display: none;
    }
    &::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
    & ~ .label-text {
      flex-basis: 100%;
    }
  }
}
