.summary-item {
  align-items: center;
  display: flex;
  flex-direction: column;

  > .value {
    font-size: var(--font-size-huge);
    @media (--tablet-) {
      font-size: var(--font-size-x-large);
    }
  }

  > .label {
    color: var(--color-text-secondary);
    text-align: center;
  }
}
