.unordered-list {
  --index: 0;
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: 1fr;
  list-style: none;

  margin: 0;
  padding: 0;
  width: 100%;

  &.center {
    align-self: center;
    justify-content: center;
    place-content: center;
  }

  &.cols-2 {
    grid-template-columns: var(--layout-2-cols);
  }
  &.cols-3 {
    grid-template-columns: var(--layout-3-cols);
  }

  & > * {
    animation: bounceIn 0.2s ease-in-out;
    animation-delay: calc(0.075s * var(--index));
    animation-fill-mode: backwards;
    transition: transform ease 0.3s;
  }

  &.pending > * {
    animation: bounceOut 0.2s ease-in-out;
    animation-fill-mode: forwards;
  }

  & > li {
    margin: 0;
    padding: 0;
  }
}

@keyframes bounceIn {
  from {
    opacity: 0;
    transform: scale(0.975);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes bounceOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: scale(0.75);
  }
}
