.dialog-bg {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1040;
}
.dialog {
  background-color: #fff;
  border: none;
  box-shadow: 0 4px 30px 0 rgba(26, 34, 61, 0.2);
  display: block;
  margin: auto;
  max-width: 400px;
  padding: 25px;
  top: 20%;
  width: 100%;
  z-index: 1050;
  & .close {
    padding: 0;
    &:hover {
      background: transparent;
    }
    &:focus {
      outline: none;
    }
  }
  & .primary {
    margin-left: 15px;
  }
}
.noScroll {
  overflow: hidden;
  padding-right: 15px;
}
