.stepper {
  --bullet-border: #caccd3;
  --active-color: #3b93cd;
  --complete-foreground-color: #fff;
  --complete-background-color: #81c467;
  --bullet-size: 2rem;
  --padding-vertical: 0;

  align-items: stretch;
  display: flex;
  flex-direction: column;
  position: relative;
  @media (--phone) {
    margin: var(--gap) 0;
    width: 100%;
  }

  > .line {
    background-color: var(--bullet-border);
    display: block;
    height: 100%;
    left: calc(var(--bullet-size) / 2);
    position: absolute;
    top: 0;
    width: 1px;
    @media (--phone) {
      height: 1px;
      left: 0;
      top: calc(var(--bullet-size) / 2);
      width: 100%;
    }
  }

  ul,
  ol {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    left: var(--padding-vertical);
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;

    @media (--phone) {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .step {
    align-items: center;
    display: flex;

    @media (--tablet) {
      &:not(:last-child) {
        margin-bottom: 4vh;
      }
    }

    .bullet {
      box-shadow: inset 0 0 0 1px var(--bullet-border);
    }
    & > .link {
      color: #8e94a4;
    }
    &.current > .link {
      color: var(--active-color);
      font-weight: 500;
      .bullet {
        box-shadow: inset 0 0 0 2px currentColor;
        path {
          fill: currentColor;
        }
      }
    }
  }

  .link {
    align-content: center;
    align-items: stretch;
    color: inhherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .bullet {
      align-items: center;
      background-color: #f6f6f7;
      border-radius: 50%;
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      height: var(--bullet-size);
      justify-content: center;
      position: relative;
      width: var(--bullet-size);

      @media (--tablet) {
        margin-right: 0.5rem;
      }

      .icon {
        display: block;
        height: 75%;
        margin: 0;
        width: 75%;
      }
    }
    .label {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      @media (--phone) {
        display: none;
      }
    }
  }

  .step.complete {
    .link {
      .bullet {
        background-color: var(--complete-background-color);
        box-shadow: none;
        path {
          fill: var(--complete-foreground-color);
        }
      }
      .index {
        display: none;
      }
    }
  }
  .step:not(.complete) {
    .link .icon {
      display: none;
    }
  }
}
