.dropdown,
.dropdown.open {
  display: flex;
  flex-direction: column;
  position: relative;
}

.dropdown .label-text {
  color: #7aa4ff;
  font-weight: 500;
  letter-spacing: 1.69px;
  line-height: 2.5rem;
  order: 0;
  position: relative;
  text-transform: uppercase;
  &.valid {
    color: #99ffd7;
  }
}

.dropdown .dropdown-button {
  align-items: center;
  background-color: rgba(0, 25, 77, 0.5);
  border: 0;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 3.25rem;
  justify-content: space-between;
  padding: 0 1rem;
  &:focus {
    outline: none;
  }
}

.dropdown .placeholder {
  color: #adc7ff;
}

.dropdown .dropdown-value {
  color: #fff;
  letter-spacing: 0.05rem;
}

.dropdown .dropdown-icon {
  fill: currentColor;
  height: 15px;
  transition: transform 0.5s ease;
  width: 15px;
}
.dropdown.open .dropdown-icon {
  transform: rotate(180deg);
}

.dropdown .options {
  align-items: stretch;
  border: 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  left: 0;
  margin: 0;
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 100%;
  transition: max-height ease 0.3s;
  z-index: 100;
}
.dropdown.open .options {
  max-height: 50vh;
  overflow: auto;
  -webkit-overscroll-behavior: contain;
  transition: max-height cubic-bezier(0.47, 0, 0.75, 0.72) 0.3s;
}

.dropdown .option {
  align-items: center;
  appearance: none;
  background-color: rgba(0, 25, 77, 0.75);
  border: 0;
  bottom: 0;
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 3.25rem;
  padding: 0 1rem;
  transition: background-color 0.3s ease;
  width: 100%;
  &:focus {
    outline: 0.5px dotted #adc7ff;
    outline-offset: -4px;
  }
  &:focus,
  &:hover {
    background-color: rgba(0, 25, 77, 0.9);
  }
}
