.tooltip {
  /*background: url(./../../img/information-symbol.svg) center center no-repeat, var(--color-gray-5);*/
  background-color: var(--color-gray-2);
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-family: Muli, Helvetica, Arial, sans-serif;
  height: 1rem;
  line-height: 1rem;
  margin: 0;
  margin-left: 5px;
  min-width: 1rem;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 1rem;
  &:hover {
    background-color: #000000;
    cursor: pointer;
    .tooltip-text {
      opacity: 0.9;
    }
  }
  .button {
    height: 1rem;
    padding: 0;
    width: 1rem;
    &:focus {
      border: 1px solid #658de6;
    }
  }
}
.tooltip-text {
  background: #000;
  border-radius: 4px;
  color: #fff;
  left: 0;
  opacity: 0;
  padding: 15px 20px;
  pointer-events: none;
  position: absolute;
  text-align: left;
  top: 100%;
  transform: translateX(-46.5%) translateY(10px);
  transition: all 0.3s;
  width: 200px;
  z-index: 1070;
  &::before {
    background: #000;
    content: '';
    height: 14px;
    left: 47%;
    position: absolute;
    top: -7px;
    transform: rotate(45deg);
    width: 14px;
  }
}

.dropdown-toggle.tooltip:hover > .dropdown-content {
  background-color: #000000;
  display: block;
  .tooltip-text {
    opacity: 0.9;
  }
}
.open.dropdown-toggle.tooltip {
  background-color: #000000;
  & > .dropdown-content {
    background-color: #000000;
    display: block;
    .tooltip-text {
      opacity: 0.9;
    }
  }
}
