nav.menu {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  @media (--tablet-) {
    flex-direction: column;
    flex-grow: 0;
  }

  ul {
    display: flex;
    list-style: none;
    padding: 0;
  }

  li {
    display: flex;
    margin: 0;
    padding: 0;
  }
  a,
  button {
    color: inherit;
    display: flex;
    font-size: inherit;
    text-decoration: none;
    width: 100%;
  }
  .menu-title {
    font-size: var(--font-size-small);
    padding: 0.5rem 1rem;
    &:empty {
      background-color: var(--field-border-color);
      height: 1px;
      margin: 0.5rem 0;
      padding: 0;
    }
  }

  & > ul {
    align-items: stretch;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    z-index: 1;

    @media (--tablet-) {
      align-items: flex-start;
      flex-direction: column;
    }

    & > li {
      align-items: center;
      flex-direction: column;
      flex-shrink: 1;
      justify-content: center;
    }
  }

  &.vertical > ul {
    flex-direction: column;
  }

  .menu-group {
    position: relative;

    & > .menu-group-toggle {
      align-items: center;
      background-color: transparent;
      border-radius: 0;
      color: inherit;
      flex-direction: row;
      height: 100%;
      padding: 0.5rem;
      text-decoration: none;
      transition: none;
      white-space: nowrap;
      width: auto;
      @media (--desktop-large) {
        padding: 0.5rem 1rem;
      }
      &:focus,
      &.open {
        background-color: transparent;
        border-color: transparent;
        border-radius: 0;
      }
      &.tablet {
        @media (--desktop) {
          display: none;
        }
        @media (--tablet-) {
          & + .submenu {
            margin: 2px;
            max-height: 0;
            overflow: hidden;
            /* transition: max-height 0.3s ease-out; */
          }
          &[aria-expanded] + .submenu {
            max-height: 100vh;
          }
          &[aria-expanded] .menu-group-toggle-pimp {
            transform: rotate(180deg);
          }
        }
      }
      &.desktop {
        @media (--tablet-) {
          display: none;
        }
      }
      & > .menu-group-toggle-pimp {
        fill: currentColor;
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }

  .submenu {
    align-items: stretch;
    flex-direction: column;

    & > .menu-item {
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
    }

    .menu-link,
    .menu-button {
      align-items: center;
      background-color: transparent;
      border-radius: 0;
      color: inherit;
      flex-direction: row;
      font-weight: normal;
      justify-content: flex-start;
      padding: 0.5rem;
      text-decoration: none;
      transition: none;
      white-space: nowrap;
      @media (--desktop-large) {
        padding: 0.5rem 1rem;
      }

      &:focus,
      &:hover {
        background-color: #f5f5f5;
        box-shadow: none;
        color: var(--color-brand);
      }
    }
  }

  &.dropdown {
    .submenu {
      align-items: stretch;
      flex-direction: column;
      padding: 0;
      @media (--desktop) {
        background-color: #fff;
        border-radius: 0.25rem;
        box-shadow: 0 0.25rem 0.5rem #0001;
        color: #333;
        display: none;
        min-width: 100%;
        padding: 0.5rem 0;
        position: absolute;
        top: 100%;
        @nest .menu-group:hover > &,
          .menu-group.open > &,
          .menu-group:focus-within > &,
          .menu-group > .menu-link:focus + & {
          animation: reveal 0.3s;
          animation-iteration-count: 1;
          display: flex;
          left: 0;
        }
      }

      & > .menu-item {
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
      }
      .menu-link,
      .menu-button {
        align-items: center;
        color: inherit;
        flex-direction: row;

        font-weight: normal;
        justify-content: flex-start;
        padding: 0.5rem 1rem;
        text-decoration: none;
        white-space: nowrap;
      }
    }
  }
  &.to-left {
    .menu-group:hover > .submenu,
    .menu-group.open > .submenu,
    .menu-group:focus-within > .submenu,
    .menu-group > .menu-link:focus + .submenu {
      left: auto;
      right: 0;
    }
  }

  .submenu .menu-item .menu-link,
  .submenu .menu-item .menu-button {
    &:focus,
    &:hover {
      background-color: #f5f5f5;
      box-shadow: none;
      color: var(--color-brand);
    }
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
