.page-section.error-section {
  align-items: center;
  background-color: #e0dbdb;
  color: #af9b9b;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: var(--gap-huge) var(--gap);

  &:only-child {
    flex-grow: 1;
    height: 100%;
  }
}
