@import '../../theme.css';

.theme-container {
  position: relative;

  &:after {
    background-image: repeating-linear-gradient(
      #4adacd6e,
      1px,
      transparent 0,
      transparent var(--gap)
    );
    background-repeat: repeat-y;
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    mix-blend-mode: multiply;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  p,
  h1,
  h2,
  h3,
  li {
    position: relative;

    &:before {
      background-color: rgba(241, 230, 255, 0.45);
      /* background-origin: content-box; */
      content: '';
      display: block;
      height: 100%;
      left: 0;
      mix-blend-mode: multiply;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
    }
  }
}
