.phone-field {
  &:hover {
    & > .react-tel-input > input,
    & > .react-tel-input > .flag-dropdown {
      border-color: var(--field-hover-border-color);
      color: var(--field-hover-text-color);
    }
  }

  & > .react-tel-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    order: 2;
    position: relative;
    width: 100%;
    & > .flag-dropdown {
      background-color: var(--field-background-color);
      border: 1px solid var(--field-border-color);
      border-radius: var(--field-border-radius) 0 0 var(--field-border-radius);
      transition: border-color 0.15s ease-in-out;
      width: 3rem;
      z-index: 1;
      .selected-flag {
        width: 3rem;
        .arrow {
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 6px solid #555;
          &.up {
            border-bottom: 6px solid #555;
            border-top: none;
          }
        }
      }
      &.read-only {
        background-color: var(--field-read-only-background-color);
        border-color: var(--field-read-only-border-color);
        color: var(--field-read-only-color);
        cursor: default;
      }
      &.disabled {
        background-color: var(--field-disabled-background-color);
        border-color: var(--field-disabled-border-color);
        color: var(--field-disabled-color);
        cursor: default;
      }
      &.touched.invalid,
      &.touched:invalid {
        border-color: var(--field-invalid-border-color);
      }
      &:focus,
      &:hover {
        .selected-flag {
          background-color: transparent;
        }
      }
    }
    & > .input {
      flex-grow: 1;
      flex-shrink: 0;
      order: 2;
      padding-left: 3.625rem;
      transition: border-color 0.15s ease-in-out;
      width: 100%;
    }
    & > .validation-message {
      order: 3;
    }
    & > input {
      height: var(--field-height);
      max-height: var(--field-height);
      min-height: var(--field-height);
    }
    & > input {
      background-color: var(--field-background-color);
      border: 1px solid var(--field-border-color);
      border-radius: var(--field-border-radius);
      box-shadow: var(--focusable-box-shadow);
      box-sizing: border-box;
      color: var(--field-text-color);
      line-height: var(--field-line-height);
      padding: var(--field-padding);
      transition: all 0.15s ease-in-out;
      &:hover {
        border-color: var(--field-hover-border-color);
        color: var(--field-hover-text-color);
      }
      &:active,
      &:focus:not(:read-only) {
        border-color: #658de6;
        box-shadow: var(--focused-box-shadow);
        outline: none;
      }
      &:read-only {
        color: rgb(84, 84, 84);
        cursor: default;
        outline: none;
        pointer-events: none;
      }
      &.touched.invalid,
      &.touched:invalid {
        border-color: var(--field-invalid-border-color);
      }
      &[required] ~ .label-text:after {
        /* content: '*'; */
      }
      &[readonly] {
        background-color: var(--field-read-only-background-color);
        border-color: var(--field-read-only-border-color);
        color: var(--field-read-only-color);
        cursor: default;
        pointer-events: none;
        & ~ .label-text {
          color: var(--field-read-only-color);
        }
      }
      &:disabled {
        background-color: var(--field-disabled-background-color);
        border-color: var(--field-disabled-border-color);
        color: var(--field-disabled-color);
        cursor: default;
        pointer-events: none;
        & ~ .flag-dropdown {
          border-color: var(--field-disabled-border-color);
        }
        & ~ .label-text {
          color: var(--field-disabled-color);
        }
      }
    }
  }
  & > .tooltip {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: var(--field-height);
    left: 1.5rem;
    margin-left: -1rem;
    order: 3;
    position: relative;
  }
}
