.link {
  align-items: center;
  /* deleted according P1776-98
  box-shadow: var(--focusable-box-shadow);*/
  color: var(--color-brand);
  display: inline-flex;
  flex-direction: row;
  flex-grow: 0;
  text-decoration: none;
  transition: ease all 0.3s;

  &:focus {
    /* deleted according P1776-98
    box-shadow: var(--focused-box-shadow);*/
    outline: none;
  }

  &.round-button {
    border: solid 1px var(--color-brand);
    border-radius: 2rem;
    font-size: var(--font-size-small);
    font-weight: 500;
    padding: 0.375rem 1.75rem;
  }

  &.contrast {
    background-color: #020e15;
    border: 0;
    border-radius: 0.25rem;
    color: #fff;
    font-size: var(--font-size-large);
    padding: 0.375rem 1.75rem;
  }

  svg {
    fill: currentColor;
    flex-grow: 0;
    flex-shrink: 0;
    &:first-child {
      margin-right: 0.5rem;
    }
  }
}

.nav-link,
.nav-link:visited {
  &:focus {
    /* deleted according P1776-98
    box-shadow: var(--focused-box-shadow);*/
    outline: none;
  }
}
